<?xml version="1.0" encoding="UTF-8"?> 
	<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.dibcbks.mapper.DistributionMapper">
	<resultMap id="BaseResultMap" type="cn.dibcbks.entity.Distribution">
	    <id column="id" property="id" />
	    <result column="daily_time" property="dailyTime" />
	    <result column="type" property="type" />
	    <result column="catering_type" property="cateringType" />
	    <result column="meals_unit_name" property="mealsUnitName" />
	    <result column="meals_user_name" property="mealsUserName" />
	    <result column="acceptance_unit_name" property="acceptanceUnitName" />
	    <result column="acceptance_user_name" property="acceptanceUserName" />
	    <result column="packing_photo" property="packingPhoto" />
	    <result column="seal_photo" property="sealPhoto" />
	    <result column="car_photo" property="carPhoto" />
	    <result column="opened_photo" property="openedPhoto" />
	    <result column="start_time" property="startTime" />
	    <result column="end_time" property="endTime" />
	    <result column="acceptance_time" property="acceptanceTime" />
	    <result column="status" property="status" />
	    <result column="address" property="address" />
	    <result column="create_time" property="createTime" />
  	</resultMap>

	<insert id="insert" parameterType="cn.dibcbks.entity.Distribution">
		INSERT INTO  distribution
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	    <if test="id != null">
	        id,
	     </if>	    	
	      <if test="dailyTime != null">
	        daily_time,
	      </if>
	      <if test="type != null">
	        type,
	      </if>
	      <if test="cateringType != null">
	        catering_type,
	      </if>	      
	      <if test="mealsUnitName != null">
	        meals_unit_name,
	      </if>
	      <if test="mealsUserName != null">
	        meals_user_name,
	      </if>
	      <if test="acceptanceUnitName != null">
	        acceptance_unit_name,
	      </if>
	      <if test="acceptanceUserName != null">
	        acceptance_user_name,
	      </if>
	      <if test="packingPhoto != null">
	        packing_photo,
	      </if>
	      <if test="sealPhoto != null">
	        seal_photo,
	      </if>
	      <if test="carPhoto != null">
	        car_photo,
	      </if>
	      <if test="openedPhoto != null">
	        opened_photo,
	      </if>
	      <if test="startTime != null">
	        start_time,
	      </if>
	      <if test="endTime != null">
	        end_time,
	      </if>
	      <if test="acceptanceTime != null">
	        acceptance_time,
	      </if>
	      <if test="status != null">
	        status,
	      </if>
	      <if test="address != null">
	        address,
	      </if>
	      <if test="createTime != null">
	        create_time,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides=",">
	    <if test="id != null">
	        #{id},
	      </if>
	      <if test="dailyTime != null">
	        #{dailyTime},
	      </if>
	      <if test="type != null">
	        #{type},
	      </if>
	      <if test="cateringType != null">
	        #{cateringType},
	      </if>	      
	      <if test="mealsUnitName != null">
	        #{mealsUnitName},
	      </if>
	      <if test="mealsUserName != null">
	        #{mealsUserName},
	      </if>
	      <if test="acceptanceUnitName != null">
	        #{acceptanceUnitName},
	      </if>
	      <if test="acceptanceUserName != null">
	        #{acceptanceUserName},
	      </if>
	      <if test="packingPhoto != null">
	        #{packingPhoto},
	      </if>
	      <if test="sealPhoto != null">
	        #{sealPhoto},
	      </if>
	      <if test="carPhoto != null">
	        #{carPhoto},
	      </if>
	      <if test="openedPhoto != null">
	        #{openedPhoto},
	      </if>
	      <if test="startTime != null">
	        #{startTime},
	      </if>
	      <if test="endTime != null">
	        #{endTime},
	      </if>
	      <if test="acceptanceTime != null">
	        #{acceptanceTime},
	      </if>
	      <if test="status != null">
	        #{status},
	      </if>
	      <if test="address != null">
	        #{address},
	      </if>
	      <if test="createTime != null">
	        #{createTime},
	      </if>
	    </trim>
	</insert>
	
	<!--查询用户 -->
	<select id="select" resultMap="BaseResultMap"> 
		SELECT
			d.id,
			d.daily_time,
			d.type,
			d.catering_type,
			d.meals_unit_name,
			d.meals_user_name,
			d.acceptance_unit_name,
			d.acceptance_user_name,
			d.packing_photo,
			d.seal_photo,
			d.car_photo,
			d.opened_photo,
			d.start_time,
			d.end_time,
			d.acceptance_time,
			d.`status`,
			d.address,
			d.create_time
		FROM
			distribution AS d
		<if test="where != null">where ${where}</if>
		<if test="orderBy != null">order by ${orderBy}</if>
		<if test="offset != null">limit ${offset},${countPerPage}</if>
	</select>
	
	<!-- 查询单个用户信息 -->
	<select id="queryDistribution" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT
			d.id,
			d.daily_time,
			d.type,
			d.catering_type,
			d.meals_unit_name,
			d.meals_user_name,
			d.acceptance_unit_name,
			d.acceptance_user_name,
			d.packing_photo,
			d.seal_photo,
			d.car_photo,
			d.opened_photo,
			d.start_time,
			d.end_time,
			d.acceptance_time,
			d.`status`,
			d.address,
			d.create_time
		FROM
			distribution AS d	
		WHERE
			d.id = #{id}
	</select>
	 

	<update id="updateById"  parameterType="cn.dibcbks.entity.Distribution">
		update distribution
	    <set>
	      <if test="id != null">
	        id = #{id},
	      </if>
	      <if test="dailyTime != null">
	        daily_time = #{dailyTime},
	      </if>
	      <if test="type != null">
	        type = #{type},
	      </if>
	      <if test="cateringType != null">
	        catering_type = #{cateringType},
	      </if>	      
	      <if test="mealsUnitName != null">
	        meals_unit_name = #{mealsUnitName},
	      </if>
	      <if test="mealsUserName != null">
	        meals_user_name = #{mealsUserName},
	      </if>
	      <if test="acceptanceUnitName != null">
	        acceptance_unit_name = #{acceptanceUnitName},
	      </if>
	      <if test="acceptanceUserName != null">
	        acceptance_user_name = #{acceptanceUserName},
	      </if>
	      <if test="packingPhoto != null">
	        packing_photo = #{packingPhoto},
	      </if>
	      <if test="sealPhoto != null">
	        seal_photo = #{sealPhoto},
	      </if>
	      <if test="carPhoto != null">
	        car_photo = #{carPhoto},
	      </if>
	      <if test="openedPhoto != null">
	        opened_photo = #{openedPhoto},
	      </if>
	      <if test="startTime != null">
	        start_time = #{startTime},
	      </if>
	      <if test="endTime != null">
	        end_time = #{endTime},
	      </if>
	      <if test="acceptanceTime != null">
	        acceptance_time = #{acceptanceTime},
	      </if>
	      <if test="status != null">
	        status = #{status},
	      </if>
	      <if test="address != null">
	        address = #{address},
	      </if>
	      <if test="createTime != null">
	        create_time = #{createTime},
	      </if>
	    </set>
	    where id = #{id}
	</update>

	
	<delete id="deleteById" parameterType="java.lang.Integer">
		DELETE FROM distribution where id = #{id};
	</delete>
</mapper>
	
	
	
	
	
	
	
	
	