

/*menu-frame-header*/
html,body{margin: 0;padding: 0;height: 100%;}
body {font-family: "Quicksand", sans-serif;background: #f5f5f5;color: #878787;margin: 0;}
.header {position:absolute;top:0;left:0;background: #485b79 url(../images/menu-frame/headerbg.png);width: 100%;min-height: 52px;z-index: 999;border-bottom: 1px solid #303f59;}
.pull-left {float: left!important;height: 52px;}
.logo {display: inline-block;padding: 0;text-align: center;width: 250px; -webkit-transition: width 300ms ease-in-out;transition: width 300ms ease-in-out;}
.sidebar-hide .logo {width: 60px;}
.logo img {height: 52px;margin-right: 10px;-webkit-transition: 300ms ease-in-out;transition: 300ms ease-in-out;}
.logo .small-logo {visibility: hidden;opacity:0;}
.sidebar-hide .small-logo {visibility: visible;opacity:1;width: auto;height: 52px;}   	
.sidebar-hide .full-logo {visibility: hidden;opacity: 0;width: 0;height: 0;}
.hamburger {display: inline-block;left: 10px;position: relative;top: -9px;-webkit-transition: all 0.3s ease-in-out 0s;transition: all 0.3s ease-in-out 0s;width: 37px;z-index: 999;cursor: pointer;}
.hamburger > span {color: white;font-size: 25px;}
.ti-menu:before{font-family: "FontAwesome";content: "\f039";}

/*menu-frame-sidebar*/
.sidebar { transition: left 300ms ease-in-out, width 300ms ease-in-out;height:100%;}
.sidebar {position: relative;width: 100%;background: #fff;font-size: 14px;z-index: 100;-webkit-transform: translateZ(0);transform: translateZ(0);transition: width 300ms ease-in-out;}
.sidebar-hide .sidebar.sidebar-hide-to-small {position: relative;width: 100%;left: 0;}
.sidebar-hide .sidebar {left: -250px;}
.sidebar-hide .sidebar.sidebar-hide-to-small .menu-content {overflow: visible;background: #fff;    width: 60px;}
.sidebar .menu { position:relative;width: 100%;height:100%;    background: #34445e url(../images/menu-frame/menu-contentbg.png);}
.sidebar .menu > .menu-content {width: 250px;display: inline-block;z-index: 9999;position: absolute; left: 0; top: 0;background: #34445e url(../images/menu-frame/menu-contentbg.png);}
.sidebar .menu > .menu-content:focus {outline: thin dotted;}
.sidebar .menu > .menu-content::-webkit-scrollbar {display: none;}
.sidebar .menu-content > ul {width: 100%;transition: width 300ms ease-in-out;margin-top:53px;}
.sidebar ul {margin: 0;list-style-type: none;padding: 0;}
.sidebar-hide .sidebar.sidebar-hide-to-small .menu-content > ul {width:60px;background: #34445e url(../images/menu-frame/menu-contentbg.png);height: 100%;}
.sidebar .menu-content > ul > li{border-top: 1px solid #576a85;border-bottom: 1px solid #394962;}
.sidebar .menu-content > ul > li.active > a, .sidebar .menu-content > ul > li.open > a, .sidebar .menu-content > ul > li > ul {background: #fff;}
.sidebar .menu-content > ul li:hover > a, .sidebar .menu-content > ul li.active > a, .sidebar .menu-content > ul li.open > a {color: #f96332;position: relative;}
.sidebar .menu-content > ul > li.label, .sidebar .menu-content > ul > li.content, .sidebar .menu-content > ul > li > a {padding-left: 20px;padding-right: 20px;}
.sidebar-hide .sidebar.sidebar-hide-to-small .menu-content > ul > li > a, .sidebar-hide .sidebar.sidebar-hide-to-small .menu-content > ul > li > a > .sidebar-collapse-icon {font-size: 0;}
.sidebar-hide .sidebar.sidebar-hide-to-small .menu-content > ul > li > a {padding: 0;text-align: center;padding: 12px 0;line-height: 1;}
.sidebar-hide .sidebar.sidebar-hide-to-small .menu-content > ul > li > a > span{opacity:0;transition: opacity 300ms ease-in-out;}
.sidebar-hide .sidebar.sidebar-hide-to-small .menu-content > ul > li { position: relative;}
.sidebar .menu-content > ul li > a {display: block;cursor: pointer;color: #878787;padding: 10px;line-height: 20px;border-bottom: none;background: none;text-decoration: none;}
.sidebar .menu-content > ul li > a > span{opacity:1;transition: opacity 300ms ease-in-out;}
.sidebar .menu-content > ul li.active > a::before {background: #f96332;content: "";height: 100%;left: 0;position: absolute;top: 0;width: 3px;}
.sidebar i {font-size: 1.12em;margin-right: 5px;vertical-align: middle;width: 1.4em; display: inline-block;}
.sidebar-hide .sidebar.sidebar-hide-to-small .menu-content > ul > li > a > i { width: auto;font-size: 1.7rem;}
.sidebar .menu-content > ul li > a > .sidebar-collapse-icon {float: right;margin-right: 5px;font-size: 10px;margin-top: 5px;transition: -webkit-transform 0.3s ease;transition: transform 0.3s ease;}
.sidebar-hide .sidebar.sidebar-hide-to-small .menu-content > ul > li > ul {visibility: hidden;width: 200px;position: absolute;top: 0;left: 100%;}
.sidebar .menu-content > ul li > ul {display: none;}
.sidebar .menu-content > ul li.open > ul {display: block;}
.sidebar-hide .sidebar.sidebar-hide-to-small .menu-content > ul li:hover > ul {border-bottom: 1px solid #eee;border-right: 1px solid #eee;border-top: 1px solid #eee;box-shadow: 0 2px 2px 0 #e7e7e7;display: block !important;visibility: visible;}
.sidebar .menu-content > ul > li > ul > li.label, .sidebar .menu-content > ul > li > ul > li.content, .sidebar .menu-content > ul > li > ul > li > a {padding-left: 30px;padding-right: 15px;}
.sidebar .menu > .main{display: block;height: 100%;margin-left:250px;background: url(../images/menu-frame/mainbg.png);}
.sidebar-hide .sidebar .menu > .main{margin-left:60px}
.sidebar .menu .main > .title{padding-top: 53px;}